
<div class="container">

<div class="card">
  <div class="card-body">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" [(ngModel)] = "newTask.title">
    <div id="emailHelp" class="form-text">Put title of your task.</div>
  </div>


<div class="form-group">
  <label for="description">Description</label>
  <input type="text" class="form-control" [(ngModel)] = "newTask.description">
  <div id="emailHelp" class="form-text">Put description of your task.</div>


<button (click)="id==''?createTask():updateTask()" class="btn btn-primary" > {{id==''?'Create':'Update'}} </button>
</div>
</div>


<br>
<br>
<br>

<div class="row">

<div *ngFor="let t of tasks" class="col-md-4 col-sm-4 col-ld-4">
  <div class="card">


    <div class="card-body">
      <h5 class="card-title">{{t.title}}</h5>
      {{t.description}}

      </div>
      <div class="card-body">
        <a (click)="setUpdate(t)" class="card-link">Update</a>
        <a (click)="deleteTask(t._id)" class="card-link"> Delete</a>
      </div>
      </div>

<br>
</div>
</div>

</div>
