<body>
  <div class="container">

    <br />
    <div class="card" id=card1>
      <div class="card-body">
        <div class="form-group">
          <b>
            <label for="title">Title</label>
          </b>
          <input
            required
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="newTask.title"
            placeholder="eg: 1st Project"
          />
          <!-- <span *ngIf="text.touched" class="error">Title is required</span> -->
        </div>


        <br />

        <div class="form-group">
          <b>
            <label for="description">Description</label>
          </b>
          <input
            type="text"
            class="form-control"
            id="description"
            [(ngModel)]="newTask.description"
            placeholder="eg: This is my first project"
          />
        </div>



        <br />
        <style>
          .center {
            margin: 0;
            position: absolute;
            left: 50%;
            -ms-transform: translate(-50%);
            transform: translate(-50%);
          }
        </style>
        <div class="center">
          <br>
          <button
            (click)="id == '' ? createTask() : updateTask()"
            class="btn btn-primary"
          >
            {{ id == "" ? "Create" : "Update" }}
          </button>
        </div>
      </div>
    </div>

    <br />
    <br />

    <div class="row">
      <div *ngFor="let t of tasks" class="col-md-4 col-sm-4 col-ls-4">
        <div class="card" id="card1">
          <div class="card-body">
            <h5 class="class-title">{{ t.title }}</h5>
            {{ t.description }}
          </div>

          <div class="card-body">
            <a
              (click)="setUpdate(t)"
              style="margin-right: 8px"
              class="btn btn-primary"
              >Update</a
            >
            <a
              (click)="deleteTask(t._id)"
              onclick="return confirm('Are you sure you want to delete this item?');"
              class="btn btn-primary"
              >Delete</a
            >
          </div>
        </div>
        <br />
      </div>
    </div>
  </div>
</body>

